
<h1 style="font-size: 36px; line-height: 1.2; font-weight: 200; margin: 0px 0 10px;">Reset your password</h1>
<p>Hi there,</p>
<p>We have received a request to reset your password.  Please click the button below to change your password.</p>

<p>
  <a href="<%= @url %>" style="font-size: 100%; line-height: 2; color: #FFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 25px; background-color: #348eda; margin: 20px 10px 0 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Click here to proceed</a>
</p>

<h2 style="font-size: 28px; line-height: 1.2; font-weight: 200; margin: 40px 0 10px; padding: 0;">What if I didn't request this?</h2>
<p>If you did not request your password to be reset, or you don't wish to change your password at this time, you can safely ignore this email.</p>
<p>Thanks, have a lovely day.</p>
       