<% if object.extra_properties.length > 0 %>
  <h4>Extra Properties</h4>
  <table class="table table-condensed table-bordered summary">
    <% object.extra_properties.each do |ep| %>
      <tr>
        <td class="key" nowrap><%= ep.name %></td>
        <td><%= ep.value.gsub("\n", "<br>").html_safe unless ep.value.nil? %></td>
      </tr>
    <% end %>
  </table>
<% end %>