<div id="print-dialog" class="modal modal-primary fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Print Options</h4>
      </div>
      <div class="modal-body">
        <table class="table atable-condensed">
          <% Printer.order(:name).each do |p| %>
          <tr>
            <td><a href="#" printer_id="<%= p.id %>"><i class="fa fa-fw fa-print"></i> <%= p.name %></a></td>
            <td class="light"><%= p.model %></td>
            <td class="light"><%= p.location%></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default pull-left"><i class="fa fa-download"></i> Download</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $(document).ready(function () {
    
    $(".print-link").click(function() {
        $("#print-dialog").modal();
        return false;
    });
    
  });
</script>