<% if params[:q] && object %>
  <div class="bs-callout <%= object.total_entries == 0 ? "bs-callout-danger" : "bs-callout-info" %>">
    <%= link_to request.url.split('?').first, class: "pull-right btn btn-xs btn-default" do %>
      <i class="fa fa-times"></i> clear filter
    <% end %>
    Found <%= pluralize(object.total_entries, "record") %> matching '<%= params[:q] %>'
  </div>
<% end %>