<div class="table-summary">
  <% unless data.total_entries < 20 %>
  <span class="pull-right">
    per page: &nbsp; &nbsp;
    <% [20, 30, 50, 100].each do |pp| %>
      <% if @per_page.to_i == pp %>
        <em><%= pp %></em> &nbsp; 
      <% else %>
        <%= link_to pp.to_s, params.to_unsafe_h.merge(:per_page => pp) %>  &nbsp; 
      <% end %>
    <% end %>
  </span>
  <% end %>
  <%= number_with_delimiter(data.total_entries) %> records
  | <%= link_to 'CSV', params.to_unsafe_h.merge(format: :csv) %>
</div>